body{
    color:aqua;
    background:blueviolet;
}
header {
    border-bottom: solid 2px red;
    padding: 0px;
    font-size: 32px;
    color: red;
}
section {
    background: blue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
margin-right: 5%;
}
